{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>ToughX</h1>
    <p class="lead">Zai is our personal assistant who would talk to us upon various things.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zai - I know!</h2>
        <p>
            Zai is the personal assistant developed using the python programming language. Interface is 
            working on the Flask. Special packages used are the speech recoginition, pyaudio, flask, speech and many more.
            It has the support of VBS script through which the Zai is speaking.
        </p>
    </div>
    <div class="col-md-4">
        <h2>ToughX - Legal</h2>
        <p>ToughX is the legal system which is developed to save the time and reduce the queues in front of the court. It is developed using the PHP and MySql.</p>
    </div>
    <div class="col-md-4">
        <h2>Chat Bot!-Talk with us</h2>
        <p><iframe width="450"
        height="650"
        src="https://bot.dialogflow.com/26b749a9-b0e9-4ddc-99c0-39b134445cc9"></iframe></p>
    </div>
</div>

{% endblock %}
